<table width="100%" border="0" cellpadding="2" cellspacing="0" bgcolor="$border" style="border: 1px solid #b2b2b2;">
  <tr>
    <td class="title" bgcolor="$bghead">$squadname - %stat%:</td>
  </tr>
  <tr><td bgcolor="$pagebg"></td></tr>
  <tr>
    <td bgcolor="$bg1">
    <table width="100%" border="0" cellpadding="2" cellspacing="0">
      <tr>
        <td>
        <table width="100%" border="0" cellpadding="2" cellspacing="0" bgcolor="$border">
          <tr bgcolor="$bg1">
            <td width="50%">%clanwars%:</td>
            <td width="25%" align="right"><b>$totalcws</b></td>
            <td width="25%"></td>
          </tr>
          <tr bgcolor="$bg1">
            <td><font color="$wincolor">%won_clanwars%:</font></td>
            <td align="right"><b><font color="$wincolor">$woncws</font></b></td>
            <td align="right"><font color="$wincolor">$woncwspercent %</font></td>
          </tr>
          <tr bgcolor="$bg1">
            <td><font color="$loosecolor">%lost_clanwars%:</font></td>
            <td align="right"><font color="$loosecolor"><b>$lostcws</b></font></td>
            <td align="right"><font color="$loosecolor">$lostcwspercent %</font></td>
          </tr>
          <tr bgcolor="$bg1">
            <td><font color="$drawcolor">%draw_clanwars%:</font></td>
            <td align="right"><font color="$drawcolor"><b>$drawcws</b></font></td>
            <td align="right"><font color="$drawcolor">$drawcwspercent %</font></td>
          </tr>
          <tr bgcolor="$bg1">
            <td>%won_points%:</td>
            <td align="right">$wonpoints</td>
            <td align="right">$wonpointspercent %</td>
          </tr>
          <tr bgcolor="$bg1">
            <td>%lost_points%:</td>
            <td align="right">$lostpoints</td>
            <td align="right">$lostpointspercent %</td>
          </tr>
        </table>
        </td>
        <td align="right" valign="bottom">
        <table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td width="60" align="center" valign="bottom">$woncwspercent %<br/><img src="images/icons/won.gif" width="30" height="$woncwspercent" border="1" alt="%won%"/></td>
            <td width="60" align="center" valign="bottom">$lostcwspercent %<br/><img src="images/icons/lost.gif" width="30" height="$lostcwspercent" border="1" alt="%lost%"/></td>
            <td width="60" align="center" valign="bottom">$drawcwspercent %<br/><img src="images/icons/draw.gif" width="30" height="$drawcwspercent" border="1" alt="%draw%"/></td>
          </tr>
          <tr>
            <td align="center" valign="top">%won%</td>
            <td align="center" valign="top">%lost%</td>
            <td align="center" valign="top">%draw%</td>
          </tr>
        </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<br />