<tr> 
  <td width="22" background="$bg2" align="center" style="border-left:1px solid #b0b0b0; border-top:1px solid #b0b0b0; padding:2px; -moz-background-clip: padding; -moz-background-origin: padding; -moz-background-inline-policy: padding;">$icon</td>
  <td background="$bg2" style="border-left:1px solid #b0b0b0; border-top:1px solid #b0b0b0; padding:2px;">&nbsp; $boardname<br />&nbsp;&nbsp;<small>$boardinfo<br /><br />$moderators</small></td>
  <td style="border-left:1px solid #b0b0b0; border-top:1px solid #b0b0b0; padding:2px;" background="$bg2" align="center">$anztopics</td>
  <td style="border-left:1px solid #b0b0b0; border-top:1px solid #b0b0b0; padding:2px;" background="$bg2" align="center">$anzposts</td>
  <td style="border-left:1px solid #b0b0b0; border-right:1px solid #b0b0b0; border-top:1px solid #b0b0b0; padding:2px;" background="$bg2" align="center"><a href="$postlink">$date $time</a><br />$poster</td>

</tr>
