<tr>
  <td style="border-left:1px solid #b0b0b0; border-top:1px solid #b0b0b0; padding:2px;" background="$bg2" align="center" height="40">$folder</td>
  <td style="border-left:1px solid #b0b0b0; border-top:1px solid #b0b0b0; padding:2px;" background="$bg2" align="center">$icon</td>
  <td style="border-left:1px solid #b0b0b0; border-top:1px solid #b0b0b0; padding:2px;" background="$bg2">$link $topicpage_link</td>
  <td style="border-left:1px solid #b0b0b0; border-top:1px solid #b0b0b0; padding:2px;" background="$bg2" align="center">$poster $member1</td>
  <td style="border-left:1px solid #b0b0b0; border-top:1px solid #b0b0b0; padding:2px;" background="$bg2" align="center">$replys</td>
  <td style="border-left:1px solid #b0b0b0; border-top:1px solid #b0b0b0; padding:2px;" background="$bg2" align="center">$views</td>
  <td style="border-left:1px solid #b0b0b0; border-top:1px solid #b0b0b0; padding:2px; border-right:1px solid #b0b0b0;" background="$bg2" align="center"><img src="images/silver_forum/reply.gif" width="14" height="11" /> <small>$date<br />$lastposter</small></td>
<td bgcolor="$bg1">$action</td>
</tr>