<tr>
    <td class="postuser" align="center" height="20">$username $member</td>
    <td class="postuser" height="20"><a name="$postID" href="#$postID"><img src="images/icons/posticon.gif" width="10" height="11" alt="" /></a> <i>$date, $time</i> &nbsp;$pm $buddy $email $hp $statuspic <span style="float:right;">$quote $actions&nbsp;</span></td>

     
  </tr>
<tr>

  <td bgcolor="#f8f8f8" width="125" valign="top" style="border-right: 1px solid #e0e0e0;">
  <table width="100%" cellpadding="2" cellspacing="0" background="images/silver_forum/td1.jpg" >
    
    <tr>
      <td align="center"><small>$usertype</small></td>
    </tr>
    <tr>
      <td align="center">$avatar</td>
    </tr>
    <tr>
      <td align="center">$rang</td>
    </tr>
    <tr>
      <td align="center"><small>$posts %posts%</small></td>
    </tr>
    <tr>
      <td align="center"><small>%registered%: $registered</small></td>
    </tr>
  </table>
  </td>
  <td bgcolor="#ffffff" >
 <table width="100%" cellpadding="2" cellspacing="0">
    </table>
  <div style="overflow:hidden; padding: 10px; background-color: #fdfdfd;">$message</div>
  <small>$signatur</small></td>
</tr>
