<style type="text/css">
<!--
.kath {
	background-image:url(images/silver_forum/kath.gif);
	color:#FFFFFF;
}
-->
</style>
<form method="post" name="form" action="forum.php">
<table width="100%" cellpadding="2" cellspacing="0">
  <tr> 
    <td>$page_link</td>
    <td align="right">$actions</td>
  </tr>
</table>
<table width="100%" cellpadding="2" cellspacing="0" border="0" bgcolor="$border">
  <tr bgcolor="$bghead">
    <td class="kath" width="30" height="20">&nbsp;</td>
	<td class="kath" width="30">&nbsp;</td>
    <td class="kath">%topic%:</td>
    <td class="kath" width="20%" align="center">%author%:</td>
    <td class="kath" width="5%" align="center">%replies%:</td>
    <td class="kath" width="5%" align="center">%views%:</td>
	<td class="kath" width="20%" align="center">%lastpost%:</td>
<td class="title">&nbsp;</td>
  </tr>
  <tr><td colspan="8" bgcolor="$pagebg"></td></tr>