<div id="login_area_logged">
<div onclick="slideElement('#profile_info', 400)" id="profile_show_info">Logged in as <br/>$username</div>
<div id="profile_info">
<div class="center">$l_avatar</div>
<ul class="profile_menu">
	<li><a href="index.php?site=loginoverview">%overview%</a></li>
	<li><a href="index.php?site=myprofile">%edit_account%</a></li>
	<li><a href="index.php?site=messenger">%messenger%</a>$newmessages</li>
	<li><a href="index.php?site=usergallery">%galleries%</a></li>
	<li><a href="index.php?site=buddys">%buddy_list%</a></li>
	$cashbox
	$admin
	<li><a href="logout.php">%logout%</a></li>
</ul>
</div>
</div>