<div id="login_area">
<form method="post" name="login" action="checklogin.php">
	<fieldset>
		<legend><span class="first_letter">l</span>ogin <span class="first_letter">a</span>rea</legend>
		<span class="first_letter">u</span>ser: <input name="ws_user" type="text" size="13"/><br/>
		<span class="first_letter">p</span>assword: <input name="pwd" type="password" size="13"/><br/>
		<a href="index.php?site=register">register</a> | <a href="index.php?site=lostpassword">lost pw</a><input type="submit" name="submit" value="login"/>
		<!--<a href="index.php?site=registered_users">%registered_users%</a>-->
	</fieldset>
</form>
</div>