<div class="login_bg">
<div class="login_area">
<form method="post" name="login" action="checklogin.php"> 
<div style="float: right;">
	<div style="float: left;"><img src="images/login_user.png" width="80" height="35" /></div> 
	<div style="float: left; padding-top: 5px;"><input class="login_css" name="ws_user" type="text" size="13" value="Username" onfocus="this.value=''" /></div>
    <div style="float: left;"><img src="images/login_pw.png" width="80" height="35" /></div>
	<div style="float: left; padding-top: 5px; padding-right: 5px;"><input class="login_css" name="pwd" type="password" size="13" value="Password" onfocus="this.value=''" /></div>
	<input id="login_bt" type="submit" name="submit" value="%login%" />
	
	
</div>

</form>
<form method="post" name="login" action="http://tw-clanzone.com/index.php?site=register"> 
<div style="float: left;">
<input id="login_bt" type="submit" name="submit" value="Don't have an account yet? Register!" />
</div>
</form>

</div>
</div>
<div style="clear: both;"></div>
